.intro-content {
  display: grid;
  position: relative;
  top: -8rem;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.intro-img img {
  max-width: 80%;
  height: auto;
}

.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
